// GLOBALS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   width: min(1000px, calc(70% + 100px));
}

body {
  height: 100%;
  margin: 0;
  align-items: center;
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Duru Sans', sans-serif;
}

h2,
h3 {
  font-family: 'Palanquin', sans-serif;
}

h2 {
  font-size: clamp(20px, 10vw, 40px);
  margin: 20px;
  //   text-decoration: underline;
  color: rgba($color: #1f61a6, $alpha: 0.8);
}

h3 {
  color: rgb(119, 119, 119);
  font-size: clamp(15px, 15vw, 30px);
}

p {
  font-family: 'Prompt', sans-serif;
  color: rgb(119, 119, 119);
  font-weight: 900;
}

// NAV

nav,
li,
ul {
  font-family: 'Palanquin', sans-serif;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  color: #6c15ea;
  font-size: clamp(10px, 10vw, 20px);
  overflow-x: hidden;
}
ul {
  margin-right: 50px;
}

a {
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 5;
  overflow-x: hidden;
}

nav {
  background-color: rgba($color: #feba46, $alpha: 1);
}

.navbar a:hover {
  color: rgba($color: #fd006f, $alpha: 0.6);
  text-decoration: underline;
  text-decoration-style: double;
}

// HERO

.home-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.home-title {
  font-family: 'Duru Sans', sans-serif;
  font-size: clamp(100px, 10vw, 200px);
  z-index: 2;
  color: rgba($color: #fd006f, $alpha: 0.6);
  animation: fadeIn;
  animation-duration: 2s;
}

.sub-title {
  font-family: 'Duru Sans', sans-serif;
  font-size: clamp(35px, 5vw, 150px);
  z-index: 2;
  color: rgba($color: #feba46, $alpha: 0.7);
  text-decoration: none;
  animation: fadeIn;
  animation-duration: 5s;
}

.hero-icons {
  color: rgba($color: #fefbf0, $alpha: 0.8);
  padding: 0 10px;
  font-size: 30px;
  animation: fadeIn;
  animation-duration: 8s;
}

.fa-chevron-down {
  padding-top: 50px;
  z-index: 4;
  font-size: 3rem;
  cursor: pointer;
  color: rgba($color: #feba46, $alpha: 0.7);
  transition: color 350ms ease-in-out;
  animation: bounceIn;
  animation-duration: 1s;
  --animate-repeat: 10;
}
.fa-chevron-down:hover {
  color: rgba($color: #fd006f, $alpha: 0.6);
}

// ABOUT

// about-section
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  background-color: #fefbf0;
  min-height: 100vh;
  overflow-x: hidden;
}

// about-container
.about-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 9500px;
}

// about-item
.about-intro {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 400;
  color: rgb(119, 119, 119);
  margin: 0 20px;
  animation: slideInLeft;
  animation-duration: 2s;
}

// about-item
.about-pic {
  width: 300px;
  height: 200px;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: slideInLeft;
  animation-duration: 4s;
  img {
    border-radius: 100%;
    // border: 2px white solid;
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin-right: 50px;
    // margin-top: 30px;
  }
}

.about-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px;
}

.about-text {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    font-weight: 600;
    color: rgb(119, 119, 119);
    max-width: 1000px;
    padding: 10px 10px;
    font-size: clamp(12px, 10vw, 18px);
  }
}

// SKILLS

.skills {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #fefbf0;
  min-height: 50vh;
  overflow-x: hidden;
}

.icons-container-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
  margin: 20px;
  animation: slideInUp;
  animation-duration: 2s;
}

.icons-container-bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
  margin: 20px;
  animation: slideInUp;
  animation-duration: 4s;
}

.icons-item {
  margin: 10px;
  color: #6c15ea;
  font-size: clamp(15px, 2.5vw, 30px);
}

.icons-item:hover {
  animation: bounce;
  animation-duration: 1s;
  color: rgba($color: #feba46, $alpha: 1);
}

// PROJECTS

.project-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fefbf0;
  min-height: 100vh;
  overflow-x: hidden;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.project {
  width: 450px;
  height: 340px;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-link {
  border: solid rgba($color: #feba46, $alpha: 0.7);
  border-radius: 7px;
}
.project-link:hover {
  border: solid rgba($color: #fd006f, $alpha: 0.6);
}

.project-icons {
  font-size: clamp(15px, 2.5vw, 30px);
  font-family: 'Prompt', sans-serif;
  color: #6c15ea;
}
.project-icons:hover {
  color: rgba($color: #feba46, $alpha: 1);
}

// FOOTER

.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fefbf0;
  min-height: 20vh;
  overflow-x: hidden;
}

.fa-chevron-up {
  padding-top: 50px;
  z-index: 4;
  font-size: 3rem;
  cursor: pointer;
  color: rgba($color: #feba46, $alpha: 1);
  transition: color 350ms ease-in-out;
}
.fa-chevron-up:hover {
  color: rgba($color: #fd006f, $alpha: 0.6);
}

.footer-icons-container {
  display: flex;
  justify-content: center;
  //   flex-direction: column;
  align-items: center;
}

.footer-text {
  margin: 10px 20px;
  color: rgb(119, 119, 119);
  font-weight: 800;
  font-size: clamp(12px, 10vw, 18px);
}

.footer-icons {
  text-align: center;
  flex-wrap: wrap;
  font-size: clamp(15px, 2.5vw, 20px);
  font-family: 'Prompt', sans-serif;
  color: #6c15ea;
  padding: 10px 10px;
}

.footer-icons:hover {
  color: rgba($color: #feba46, $alpha: 1);
}
